@import "tailwindcss";

:root {
  --background: #111315;
  --card: #1c2023;
  --border: #2a3136;

  --primary: #2d5a43;
  --primary-hover: #3b7356;

  --text: #e5e7eb;
  --muted: #94a3b8;
}

body {
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
}